<h1 class="page-header">Ruby Virtualization</h1>

<form role="form" class=".form-horizontal" action="/" method="post">
  <h3>Format</h3>
  <div class="form-group">
    <div class="radio">
      <label>
        <input type="radio" name="virt[format]" id="virt-format-vagrant" value="vagrant" checked>
        Vagrant
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="virt[format]" id="virt-format-docker" value="docker" disabled>
        Docker
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
