# copy me to .env.vagrant
AWS_ACCESS_KEY=my_access_key
AWS_SECRET_ACCESS_KEY=my_secret_access_key
AWS_KEYPAIR_NAME=my_keypair_name
AWS_PRIVATE_KEY_PATH=path_to_my_private_key
AWS_EC2_NAME=<%= name %>
AWS_EC2_AMI=ami-changeme
AWS_EC2_SECURITY_GROUP=super secure
AWS_EC2_SIZE=myamisize
AWS_EC2_REGION=region
